@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CircularStd-Bold';
  src: url('./assets/fonts/CircularStd-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'CircularStd-Light';
  src: url('./assets/fonts/CircularStd-Light.otf') format('opentype');
}

@font-face {
  font-family: 'CircularStd-Medium';
  src: url('./assets/fonts/CircularStd-Medium.otf') format('opentype');
}
body {
  margin: 0;
}

