@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gotham-Bold';
  src: url('./assets/fonts/GothamBold.ttf') format('ttf');
}

@font-face {
  font-family: 'Gotham-Light';
  src: url('./assets/fonts/GothamMedium.ttf') format('ttf');
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('./assets/fonts/GothamLight.ttf') format('ttf');
}

* {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Gotham-Medium', sans-serif;
}

body {
  margin: 0;
}

