.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.dots {
    display: flex;
    justify-content: space-around;
    width: 50px;
}

.dots div {
    width: 10px;
    height: 10px;
    background-color: gray;
    opacity: 80%;
    border-radius: 50%;
}

.dots div:nth-child(1) {
    animation: dots 1.5s infinite;
}

.dots div:nth-child(2) {
    animation: dots 1.5s 0.5s infinite;
}

.dots div:nth-child(3) {
    animation: dots 1.5s 1s infinite;
}

@keyframes dots {
    0%, 80%, 100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}